## Scenario

One of the problems that often occurs in the hotel business is the practice of customers cancelling their room reservation. Some guests who decide to cancel their booking take the trouble to notify the hotel in advance, but many do not. This leads to unwanted vacancies in rooms that would have otherwise been occupied. The cancellation of bookings impacts hotels in various ways, including loss of revenue when the room cannot be resold; a reduction in profit margin caused by lowering the price at the last minute to resell the room; and additional costs incurred by paying for publicity to help sell these rooms. Therefore, being able to predict bookings that may be cancelled would minimise the impact that cancellations can have on a hotel. The manager of a hotel has given you the task of detecting and investigating the three most problematic areas, and providing solutions for each, with recommendations based on the overall results you receive. You are required to use machine learning techniques (regression/classification) taught in the Big Data Analytics module.

In [2]:
#Required modules
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_selection import SelectFromModel
from sklearn.impute import SimpleImputer
from sklearn.metrics import accuracy_score

#load dataset
df = pd.read_csv('./dataset/hotel-reservations.csv')

In [9]:
#Separate numerical and categorical columns
numerical_cols = df.select_dtypes(include=['float64', 'int64']).columns
categorical_cols = df.select_dtypes(include=['object']).columns

In [10]:
#impute missing values for numerical columns with the mean
numerical_imputer = SimpleImputer(strategy='mean')
df[numerical_cols] = numerical_imputer.fit_transform(df[numerical_cols])

In [13]:
#impute missing values for categorical columns with the mean
categorical_imputer = SimpleImputer(strategy='most_frequent')
df[categorical_cols] = categorical_imputer.fit_transform(df[categorical_cols])

In [14]:
#Task a. Identify the top six countries showing months th a high rate of cancellation
#Group by 'country', 'arrival_date_month', and calculate cancellation rates
grouped_data = df.groupby(['country', 'arrival_date_month'])['is_canceled'].mean().reset_index()
#grouped_data

In [15]:
#sort by cancellation rate in descending order
top_countries = grouped_data.sort_values(by='is_canceled', ascending=False).head(6)
top_countries

     country arrival_date_month  is_canceled
583      JEY          September          1.0
619      KEN              March          1.0
108      BGD               July          1.0
109      BGD               June          1.0
661      LIE           February          1.0
1143     VGB             August          1.0

In [16]:
df

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0.0,342.0,2015.0,July,27.0,1.0,0.0,0.0,2.0,...,No Deposit,86.693382,189.266735,0.0,Transient,0.00,0.0,0.0,Check-Out,2015-07-01
1,Resort Hotel,0.0,737.0,2015.0,July,27.0,1.0,0.0,0.0,2.0,...,No Deposit,86.693382,189.266735,0.0,Transient,0.00,0.0,0.0,Check-Out,2015-07-01
2,Resort Hotel,0.0,7.0,2015.0,July,27.0,1.0,0.0,1.0,1.0,...,No Deposit,86.693382,189.266735,0.0,Transient,75.00,0.0,0.0,Check-Out,2015-07-02
3,Resort Hotel,0.0,13.0,2015.0,July,27.0,1.0,0.0,1.0,1.0,...,No Deposit,304.000000,189.266735,0.0,Transient,75.00,0.0,0.0,Check-Out,2015-07-02
4,Resort Hotel,0.0,14.0,2015.0,July,27.0,1.0,0.0,2.0,2.0,...,No Deposit,240.000000,189.266735,0.0,Transient,98.00,0.0,1.0,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0.0,23.0,2017.0,August,35.0,30.0,2.0,5.0,2.0,...,No Deposit,394.000000,189.266735,0.0,Transient,96.14,0.0,0.0,Check-Out,2017-09-06
119386,City Hotel,0.0,102.0,2017.0,August,35.0,31.0,2.0,5.0,3.0,...,No Deposit,9.000000,189.266735,0.0,Transient,225.43,0.0,2.0,Check-Out,2017-09-07
119387,City Hotel,0.0,34.0,2017.0,August,35.0,31.0,2.0,5.0,2.0,...,No Deposit,9.000000,189.266735,0.0,Transient,157.71,0.0,4.0,Check-Out,2017-09-07
119388,City Hotel,0.0,109.0,2017.0,August,35.0,31.0,2.0,5.0,2.0,...,No Deposit,89.000000,189.266735,0.0,Transient,104.40,0.0,0.0,Check-Out,2017-09-07
119389,City Hotel,0.0,205.0,2017.0,August,35.0,29.0,2.0,7.0,2.0,...,No Deposit,9.000000,189.266735,0.0,Transient,151.20,0.0,2.0,Check-Out,2017-09-07